<%- include('header') %>
    <!-- <ul>
        <% for(const appointment of appointments){ %>
            <li>
                clientId: <%=appointment.clientId%>
                <br>
                isCompleted: <%=appointment.isCompleted%>
                <br>
                <a href="https://adityaharsh2001.github.io/videochat/index.html" class="btn btn-primary">Book an appointment</a>
            </li>
        <% } %>
    </ul> -->
    <div class="container" style="margin: 130px;">
        <h1>Pending</h1>
        <div class="row">
            <% for(const appointment of appointments){ %>
                <% if(!appointment.isCompleted){ %>
                    <div class="col-6">
                        <div class="card mt-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2" style="width: fit-content;">
                                        <img src="<%=appointment.clientId.image%>" width="50px" class="img-fluid" style="display: inline-block;">
                                    </div>
                                    <div class="col">
                                        <div><%=appointment.clientId.name.first%> <%=appointment.clientId.name.last%></div>
                                        <div><%=appointment.clientId.gender%></div>
                                        <div><%=appointment.clientId.email%></div>
                                        <div><%=appointment.clientId.phone%></div>
                                        <div class="mt-2">
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#acceptModal" data-target="#acceptModal">Accept</button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="acceptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <form action="/lawyers/bookAppointment/<%=appointment._id%>" method="POST" id="appointment-form">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Schedule meeting</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                    
                                                    <div class="modal-body">
                                                        <label for="time">Select time for meeting: </label>
                                                        <input  name = "time" type="time" class="form-control" id="time">
                                                        <br>
                                                        <label for="date">Select date for meeting: </label>
                                                        <input name = "date" type="date" class="form-control" id="date">
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Fix Appointment</button>
                                                    </div>
                                                </div>
                                            </form>
                                                </div>
                                            </div>
                                            <button class="btn btn-danger delete-btn" id="<%=appointment._id%>">Reject</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>

        <h1 class="mt-5">Completed</h1>
        <div class="row">
            <% for(const appointment of appointments){ %>
                <% if(appointment.isCompleted){ %>
                    <div class="col-6">
                        <div class="card mt-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2" style="width: fit-content;">
                                        <img src="<%=appointment.clientId.image%>" width="50px" class="img-fluid" style="display: inline-block;">
                                    </div>
                                    <div class="col">
                                        <div><%=appointment.clientId.name.first%> <%=appointment.clientId.name.last%></div>
                                        <div><%=appointment.clientId.gender%></div>
                                        <div><%=appointment.clientId.email%></div>
                                        <div><%=appointment.clientId.phone%></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function removeCard(){
            const card = this.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;
            try{
                await axios.delete(`/lawyers/<%=user._id%>/${this.id}`);
                card.remove();
            }catch{

            }
        }
        const deleteBtns = document.querySelectorAll('.delete-btn');
        for(const btn of deleteBtns) btn.addEventListener('click',removeCard);
    </script>
<%- include('footer') %>