<%- include('../includes/head.ejs') %>
</head>
<body>
    <h1><%=lawyer.name.first%> <%=lawyer.name.last%></h1>
    <img src = "<%=lawyer.image%>">

    <a href="/dashboard">Back</a> 
    <button> <a href="/lawyers/<%=lawyers.objectId"></a></button>
    <p>it is lawyers show time</p>
<%- include('../includes/end.ejs') %>